.Gamelist{
	border-style: outset;
	border-width: 5px;
	background-color: #FFC6FF;
	list-style:none;
	float:left;
	text-decoration: none;
	height:100vh;
}
.Information img{
	float:left;
	display:inline;
	
}
.Information{
	background-color: #FFADAD;
	border-style:ridge;
	border-width:2px;
}
.images{
	background-color: #CAFFBF;
	border-style:dotted;
	border-width:3px;
	margin-left:18.9%;
}
.funfacts{
	background-color: #FDFFB6;
	border-style:ridge;
	border-width:6px;
	margin-left:18.9%;
}