.Gamelist{
	border-style: outset;
	border-width: 5px;
	background-color: #FFC6FF;
	float:left;
	width:11%;
	height:100vh;
}
.Information img{
	float:left;
	display:inline;
	
}
.Information{
	background-color: #FFADAD;
	border-style:ridge;
	border-width:2px;
}
.images{
	background-color: #CAFFBF;
	border-style:dotted;
	border-width:3px;
	float:right;
	width:86%;
}
.funfacts{
	background-color: #FDFFB6;
	border-style:ridge;
	float:right;
	width:86%;
	border-width:6px;
}
body{
	background-image: url('images/background for homepage.jpeg');
}