.images{
	border-style:ridge ;
	border-width:20px
}
body{
	background-color: #CAFFBF;
}
header{
	border-style: outset;
	border-width: 10px;
}
header h2{
	display:inline;
}
#boxytmorning{
	border-style: solid;
	border-width:2px;
	border-color:#9BF6FF;
}